<%- include("header") %>

<form action="/" method="get" class="note">
    <input type="text" placeholder="Add Title"><br>
    <textarea placeholder="Add Note"></textarea><br>
    <button><i class="fa fa-plus" aria-hidden="true"></i></button>
</form>







<%- include('footer') %> 